<%- include('includes/head.ejs', { title: 'Error!' }) %>
  </head>

  <body>
    <%- include('includes/header.ejs') %>
      <main>
        <h1> oops!!<br/> You are Not Authenticated Person !!</h1>
        <p></p>
      </main>
  </body>

  </html>